@tailwind base;
@tailwind components;
@tailwind utilities;
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@layer utilities {
    .animate-float {
        animation: float 7s ease-in-out infinite;
    }

    @keyframes float {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-9px);
        }
    }
}
